{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% endblock %}
    <title>{% block title %} Document {% endblock %}</title>
</head>
<body>
    <div class="mb-5">       
        
    </div>
    
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

        <div class="mb-4 fixed-bottom d-flex justify-content-center">
            {% block footer %}

            {% endblock %}                
        </div>
        
        {% block beforbody %}
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.js' %}"></script> 
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
        {% endblock %}
</body>
</html>