{% extends "posts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Edit form - {{ block.super }}
{% endblock %}

{% block content %}

<div class="login">

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Edit</div>
                <div class="card-body">
                    <div class="col-md-6 offset-md-3">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}