{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Edit form - {{ block.super }}
{% endblock %}

{% block content %}

<div class="login">

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
        {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <img src="{% static post.poster.url %}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
              <a class="btn btn-outline-danger btn-sm mx-1" href="{% url 'posts_delete' pk=post.pk %}">x</a>
            </div>
          </div>
        {% endfor %}
          
        
   

</div>

{% endblock %}

